p {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

#newgame {
    margin-bottom: 230px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 120px;
    height: 30px
}

.hidden {
    display: none !important;
}

.shown {
    display: inherit;
}

#screen {
display: flex;
justify-content: space-between;
}

#player1 {
    display: flex;
    margin: 0px 20px;
    flex-direction: column;
}

#player2 {
    display: flex;
    margin: 0px 20px;
    flex-direction: column;
}

#directions1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    min-height: 34.4px;
    margin: 15px 0px;
}

#directions2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    min-height: 34.4px;
    color: red;
    margin: 15px 0px;
}

#ready1 {
    width: 80px;
}

#ready2 {
    width: 80px;
}

#hand1 {
    display: flex;
}

#hand2 {
    display: flex;
}

.cards1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 120px;
    margin:0px 5px 20px 5px;
    border:  2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 40px;
}

.specialcards1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 110px;
    margin:0px 5px 20px 5px;
    border:  2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 40px;
}

.shopcards1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 110px;
    margin:0px 5px 20px 5px;
    border:  2px dotted black;
    border-radius: 10px;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.specialcards2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 110px;
    margin:0px 5px 20px 5px;
    border:  2px solid red;
    border-radius: 10px;
    color: red;
    font-size: 40px;
}

.shopcards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 110px;
    margin:0px 5px 20px 5px;
    border:  2px dotted red;
    border-radius: 10px;
    color: red;
    font-size: 19px;
    font-weight: bold;
}


#sh1, #sh2, #sh3 {
    font-size: 24px;
}

.cards2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 120px;
    margin:0px 5px 20px 5px;
    border: 2px solid red;
    color: red;
    border-radius: 10px;
    font-size: 40px;
}

#flopcontainer {
    display: flex;
    align-items: flex-end;
}

.flop1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 190px;
    margin:15px 5px;
    border:  2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 40px;
}

.flop2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 190px;
    margin:15px 5px;
    border:  2px solid red;
    border-radius: 10px;
    color: red;
    font-size: 40px;
}