p {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

#newgame {
    margin-bottom: 230px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 120px;
    height: 30px
}

.hidden {
    display: none !important;
}

.shown {
    display: inherit;
}

#screen {
display: flex;
justify-content: space-between;
}

#updates1 {
    width: 450px;
    height: 120px;
}


#player1 {
    display: flex;
    margin: 0px 20px;
    flex-direction: column;
}

#player2 {
    display: flex;
    margin: 0px 20px;
    flex-direction: column;
}

.center {
    margin: 10px 0px;
}

#directions1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    height: 70px;
    width: 380px;
    margin: 15px 0px;
}

#directions2 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    height: 70px;
    width: 380px;
    color: red;
    margin: 15px 0px;
}

#ready1, #ready2, #finished1, #finished2, #readycontainer {
    width: 150px;
    margin: auto;
    display:block;
    height: 40px;
    margin-bottom: 10px;
}

#hand1 {
    display: flex;
    height: 120px;
}

#hand2 {
    display: flex;
    height: 120px;
}

.cards1 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 120px;
    margin:0px 5px 20px 5px;
    border:  2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.cards1dark{
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 120px;
    margin:0px 5px 20px 5px;
    border:  2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}


.specialcards1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 110px;
    margin:0px 2px 20px 2px;
    border:  2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}


.shopcards1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 110px;
    margin:0px 5px 20px 5px;
    border:  2px dotted black;
    border-radius: 10px;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.specialcards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 110px;
    margin:0px 2px 20px 2px;
    border:  2px solid red;
    border-radius: 10px;
    color: red;
    font-size: 16px;
    font-weight: bold;
}



.shopcards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 110px;
    margin:0px 5px 20px 5px;
    border:  2px dotted red;
    border-radius: 10px;
    color: red;
    font-size: 19px;
    font-weight: bold;
}


#sh1, #sh2, #sh3 {
    font-size: 24px;
}

.cards2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 120px;
    margin:0px 5px 20px 5px;
    border: 2px solid red;
    color: red;
    border-radius: 10px;
    font-size: 20px;
}

.cards2dark{
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 120px;
    margin:0px 5px 20px 5px;
    border:  2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}


#flopcontainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.flop1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 190px;
    margin:15px 1px;
    border:  2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.flop2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 190px;
    margin:15px 1px;
    border:  2px solid red;
    border-radius: 10px;
    color: red;
    font-size: 20px;
}